* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.5;
}
.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;
  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}
/*Banner*/
.img-banner {
  text-align: center;
  position: relative;
  max-width: 100%;
  background-size: cover;
  height: 600px;
  background-image: url(../images/banner.jpg);
  margin: auto;
}
.text-banner {
  position: absolute;
  top: 35%;
  left: 40%;
  color: #f7f7f7;
  font-size: 24px;
  text-align: center;
}
.text-banner h1 {
  text-transform: uppercase;
}
.text-banner span {
  color: #d4d3d3;
}
/*Xây dựng Navbar*/
#nav-bar a:link,
a:visited {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border-left: 2px solid #d4d3d3;
  padding: 70px 10px 20px;
}
.name-navbar {
  display: inline-block;
  margin: 0px 70px;
}
.icon {
  color: aqua;
}
.name-navbar h1 {
  font-weight: bold;
  font-size: 34px;
}
.name-navbar span {
  color: #838181;
}
/*thông tin cá nhân*/
.info-cn {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  gap: 0px;
  line-height: 2;
  margin-top: 40px;
  background-color: #ffffff;
}
.section-title {
  margin-bottom: 30px;
}
li span {
  font-weight: bold;
}
.mt-40 {
  margin-bottom: 20px;
}
#target {
  background-color: #d4d3d3;
  padding: 60px 30px 70px 30px;
}
#personal-info {
  background-color: #b8b1b1;
  padding: 0px 30px 0px 30px;
  width: 100%;
}

/*Xây dựng thông tin nghề nghiệp*/
.job-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
}
.box-nn {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 20px;
  row-gap: 60px;
  border: 1px solid #d4d3d3;
  align-items: center;
  padding: 24px;
  background-color: #ffffff;
}

.nn-content {
  grid-column: 1/-1;
  display: inline-block;
  padding-top: 0;
}
.st-content {
  grid-column: 1/-1;
  display: inline-block;
  padding-bottom: 200px;
}
.lang-content {
  grid-column: 1/-1;
  display: inline-block;
  padding-bottom: 400px;
}
.skill-content {
  grid-column: 1/-1;
  display: inline-block;
  padding-bottom: 250px;
}
.hientai {
  background-color: #4dbebe;
  font-style: italic;
  padding: 4px 8px;
  color: #f7f7f7;
  border-radius: 12pt;
  text-align: center;
}
.kn-title {
  font-size: 18px;
}
.kn {
  position: relative;
}
.kn1 {
  position: relative;
}
.point-note::before {
  content: "•";
  color: #4dbebe;
  display: inline-block;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  left: -20px;
  top: -8px;
}

/*icon sở thích*/
.notnhac {
  color: #33d8d8;
  width: 50px;
  height: 50px;
  border: 1px solid #33d8d8;
  border-radius: 50%;
  padding: 10px;
  font-size: 25px;
  margin-right: 19px;
  margin-bottom: 10px;
}
.blue-line {
  width: 45px;
  height: 3px;
  background-color: #33d8d8;
  margin-top: 40px;
  display: inline-block;
  margin-right: 15px;
}
.dark-line {
  width: 45px;
  height: 3px;
  background-color: #b8b1b1;
  display: inline-block;
  margin-right: 15px;
}

/*chứng chỉ- giải thưởng*/
.cc-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}
.img-cc {
  width: 250px;
  height: 150px;
  margin-right: 10px;
}
.cc-gt-content {
  display: flex;
  gap: 20px;
}
.border1 {
  padding-left: 20px;
  border-left: 2px solid #d6c08d;
}
.border2 {
  grid-column: 1/-1;
  padding-top: 40px;
  border-top: 2px solid #d6c08d;
}
/*Dự Án*/
.content-du-an {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}
.title-du-an {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-left: 1px solid #d4d3d3;
  border-right: 1px solid #d4d3d3;
}
.col-du-an {
  display: flex;
  flex-direction: column;
}
.icon-cv-cn {
  display: flex;
  column-gap: 10px;
  border-right: 1px solid #d4d3d3;
  border-left: 1px solid #d4d3d3;
  border-top: 1px solid #d4d3d3;
  padding-top: 5px;
  padding-bottom: 5px;
}
table {
  border-collapse: collapse;
}
td {
  padding: 10px;
}
tr td:first-child {
  width: 100px;
  vertical-align: top;
}
tr {
  border: 1px solid #d4d3d3;
}

/*phần liên hệ*/
#footer {
  line-height: 1.5;
  text-align: center;
}
#footer a:link,
a:visited {
  font: size 24px;
  font-weight: bold;
  margin-right: 50px;
  text-decoration: none;
}
/*Avatar - nâng cao*/
.avatar {
  height: 260px;
  width: 240px;
  border-radius: 50%;
  padding: 10px;
  background-color: #ffffff;
}
.av-banner {
  position: absolute;
  display: inline-block;
  right: 50%;
  transform: translate(50%, 70%);
  bottom: 0px;
}
